<div class="login-container">
  <div class="login-card">

    <h2>Iniciar Sesión</h2>

    <div class="form-group">
      <label>Correo</label>
      <input type="email" [(ngModel)]="correo" placeholder="correo@ejemplo.com">
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="contrasena" placeholder="••••••••">
    </div>

    <button class="btn-login" (click)="login()">Entrar</button>

    <div *ngIf="mensajeError" class="error-message">
      {{ mensajeError }}
    </div>


  </div>
</div>
