/* CONTENEDOR GENERAL */
.login-container {
  min-height: 91vh;
  display: flex;
  justify-content: center;     
  align-items: center;          
  background: #f3f4f6;
  padding: 0;                  
}


/* TARJETA DEL LOGIN */
.login-card {
  background: #ffffff;
  padding: 40px 35px;
  width: 100%;
  max-width: 380px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.5s ease-in-out;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}


/* TÍTULO */
.login-card h2 {
  font-size: 1.6rem;
  margin-bottom: 25px;
  font-weight: 600;
  color: #333;
}


/* GRUPOS DE FORMULARIO */
.form-group {
  width: 100%;
  margin-bottom: 18px;
  text-align: left;         
}


/* LABEL */
.form-group label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
  display: block;
}


/* INPUT */
.form-group input {
  width: 94%;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.95rem;
  border: 1px solid #d8d8d8;
  outline: none;
  transition: 0.2s;
}


/* FOCUS INPUT */
.form-group input:focus {
  border-color: #1464c4;
  box-shadow: 0 0 0 3px rgba(20, 100, 196, 0.15);
}


/* BOTÓN LOGIN */
.btn-login {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #1464c4;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.2s ease;
}

.btn-login:hover {
  background-color: #0f4f9b;
}


/* MENSAJE ERROR */
.error-message {
  color: #d9534f;
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: 600;
}

.error-message {
  background: #ffdddd;
  color: #b30000;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #ff5c5c;
}
